@if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated) //Request.IsAuthenticated
{
    using (Html.BeginForm("Logoff", "Accounts", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + HttpContext.Current.User.Identity.Name + "! ", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "navbar-brand" })
            </li>
            @*<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>*@
            <li>@*@Html.ActionLink("Log Off", "logoff", "Accounts", htmlAttributes: new { @class = "navbar-right" })*@ </li>
            <li>@Html.ActionLink("Log Off", "logoff", "Accounts", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Index", "Accounts", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
