@model IEnumerable<MCX.Models.Tables.PaymentDetail>

@{
    ViewBag.Title = "Index";
}

<br />
<p>
    <table>
        <tr>
            <td>
                <a href="/PaymentDetails/Create/" title="Add new Customer Details" id="RecordAdd" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>
            </td>
            <td>   <a href="/PaymentDetails/Edit/" title="Edit potential Details" id="RecordEdit" class="btn btn-default btn-sm"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a>        </td>
            <td>   <a href="/PaymentDetails/Details/" title="View potential Details" id="RecordDetail" class="btn btn-default btn-sm"><span aria-hidden="true" class="glyphicon glyphicon-eye-open"></span></a> </td>
            <td>   <a href="/PaymentDetails/Delete/" title="Delete potential Details" id="RecordDelete" class="btn btn-default btn-sm"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></a>   </td>
        </tr>
    </table>
</p>
<table class="table">
    <tr>
        <th>
           Potential Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isLastService)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isNotified)
        </th>
        <th>
         @*   @Html.DisplayNameFor(model => model.CreatedBy)*@


            Potential Owner
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>

        @*<th></th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>

                @{var name = item.Customers.FirstName + " " + item.Customers.LastName;}
                @name
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isLastService)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isNotified)
            </td>
            <td>

                @{var createdB = item.Users.Username;}
                @createdB
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>

            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PaymentID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PaymentID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PaymentID })
                </td>*@
        </tr>
    }

</table>
