@model MCX.Models.Tables.Users

@{
    ViewBag.Title = "Login";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<style>
    .login-box {
        background: #3498db none repeat scroll 0 0;
        border-radius: 3px;
        margin-top: 80px;
        max-width: 480px;
        padding-bottom: 20px;
        position: relative;
    }

    .flipInY {
        animation-name: flipInY;
        backface-visibility: visible !important;
    }

    .animated {
        animation-duration: 1s;
        animation-fill-mode: both;
    }
</style>

<div class="col-lg-4 col-sm-offset-3 col-md-offset-4">
    <div class="login-box clearfix flipInY animated">
        @using (Html.BeginForm("Login", "Accounts", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="login-form">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="clearfix"></div>
                    <br />
                    <br />
                    <br />
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="col-md-12">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="col-md-12">
                        @if (!string.IsNullOrEmpty(ViewBag.msg))
                        {
                            @ViewBag.msg
                        }
                    </div>

                    <div class="col-md-12 text-center">
                        <input type="submit" value="Login" class="btn btn-login" />
                    </div>
                </div>


            </div>
        }
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        //alert('vijay');
        $("input[type=number],:text,textarea").addClass("form-control");
    });
</script>