@model IEnumerable<MCX.Models.Tables.Customers>

@{

    if (Model.Any())
    {
        foreach (var item in Model)
        {
            <tr id="@item.CustomerID">
                <td><input type="checkbox" />  </td>
                <td>
                    <a href="/Customers/Details/@item.CustomerID"> @Html.DisplayFor(modelItem => item.FirstName)  @Html.DisplayFor(modelItem => item.LastName).ToHtmlString()</a>
                    @*     @Html.ActionLink((@Html.DisplayFor(modelItem => item.FirstName) + " " + @Html.DisplayFor(modelItem => item.LastName).ToHtmlString()), "Details", "Customers", new { parentPartId = item.CustomerID }))*@
                </td>
                <td>@Html.DisplayFor(modelItem => item.OwnerLead.FirstName)@Html.DisplayFor(modelItem => item.OwnerLead.LastName)</td>
                <td>@Html.DisplayFor(modelItem => item.Mobile)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Product.ProductName)</td>
                @*<td>@Html.DisplayFor(modelItem => item.LeadSource.SourceName)</td>*@
                <td>@Html.DisplayFor(modelItem => item.LeadStatu.LeadStatus)</td>
                <td>@Html.DisplayFor(modelItem => item.City)</td>
                <td>@Html.DisplayFor(modelitem => item.Description) </td>
                @*<td>@Html.DisplayFor(modelItem => item.UserType)</td>*@
                <td>@Html.DisplayFor(modelItem => item.FollowUp)</td>

                <td>@Html.DisplayFor(modelItem => item.Investmentid)</td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    }
}


